{% load static %}

<title>AlphaStore</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
<meta content="utf-8" http-equiv="encoding" />

<!-- Jquery Included -->
<script
	type="text/javascript"
	src="{% static 'Website/jquery/jquery.min.js' %}"
></script>

<!-- Popper Included -->
<script
	type="text/javascript"
	src="{% static 'Website/popper/popper.min.js' %}"
></script>

<!-- Bootstrap Included -->
<link
	rel="stylesheet"
	type="text/css"
	href="{% static 'Website/bootstrap/css/bootstrap.min.css' %}"
/>
<script
	type="text/javascript"
	src="{% static 'Website/bootstrap/js/bootstrap.min.js' %}"
></script>

<!-- Footawesome Included -->
<link
	rel="stylesheet"
	type="text/css"
	href="{% static 'Website/fontawesome/css/all.min.css' %}"
/>

<!-- Axios Included -->
<script
	type="text/javascript"
	src="{% static 'Website/axios/axios.min.js' %}"
></script>

<!-- LightSlider Included -->
<link
	rel="stylesheet"
	type="text/css"
	href="{% static 'Website/lightslider/lightslider.css' %}"
/>
<script
	type="text/javascript"
	src="{% static 'Website/lightslider/JQuery3.3.1.js' %}"
></script>
<script
	type="text/javascript"
	src="{% static 'Website/lightslider/lightslider.js' %}"
></script>

<!-- Loader Included -->
<link
	rel="stylesheet"
	type="text/css"
	href="{% static 'Website/loader/loader.css' %}"
/>
<script
	type="text/javascript"
	src="{% static 'Website/loader/loader.js' %}"
></script>

<!-- Personalized CSS -->
<link
	rel="stylesheet"
	type="text/css"
	href="{% static 'Website/css/template.css' %}"
/>

<!-- Personalized JS -->

<script
	type="text/javascript"
	src="{% static 'Website/js/template.js' %}"
></script>
