<section class="footer" id="footer">
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-2">
			<div class="row highlight2">Categories</div>
			<div class="row">
				<ul>
					<li><a href="home">Home</a></li>
					<li><a href="category?category=Clothing">Clothing</a></li>
					<li><a href="category?category=Accessories">Accessories</a></li>
					<li><a href="category?category=Products">Products</a></li>
					<li><a href="category?category=Other">Other</a></li>
				</ul>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="row highlight2">Tags</div>
			<div class="row">
				<ul>
					<li><a href="tag?query=Denim">Denim</a></li>
					<li><a href="tag?query=Solid">Solid</a></li>
					<li><a href="tag?query=Beard">Beard</a></li>
					<li><a href="tag?query=Face">Face</a></li>
					<li><a href="tag?query=Hair">Hair</a></li>
				</ul>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="row highlight2">Companies</div>
			<div class="row">
				<ul>
					<li><a href="tag?query=Parker">Parker</a></li>
					<li><a href="tag?query=Levis">Levis</a></li>
					<li><a href="tag?query=Beardo">Beardo</a></li>
					<li><a href="tag?query=Adidas">Adidas</a></li>
					<li><a href="tag?query=Nike">Nike </a></li>
				</ul>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="row">
				<div class="brand">
					<h1 onclick="window.location='home'">AlphaStore</h1>
				</div>
			</div>
			<ul>
				<li id="owner-name">Chitrank Mishra</li>
				<li id="owner-number">9818693448</li>
				<li id="view-more"><a href="#">View More</a></li>
			</ul>
		</div>
		<div class="col-sm-1"></div>
	</div>
</section>
