{% load static %}
<!DOCTYPE html>
<!--
This is a repository under Future Devs. An open-source organization on Github.
The website's backend is hosted on heroku. Uses python over gunicorn server environment with Django. 
Database management resource tool is made using HTML, CSS and Javascript, along with bootstrap and axios framework. 
-->
<html>
	<head>
		{% include 'Website/base.html'%}

		<!-- Custom CSS -->
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'Website/css/product.css' %}"
		/>
	</head>
	<body>
		{% include 'Website/bodyDefault.html'%}
		<div id="header-section">{% include 'Website/header.html'%}</div>

		<section id="product-display">
			{%if item == None %}
			<div class="row center">
				<div class="col-sm-12 center error mt-5">
					<h1>No Product Available</h1>
				</div>
			</div>
			{%else%}
			<div class="row center" id="product-name">{{item.Name}}</div>
			<div class="row center" id="product-category">{{item.Category}}</div>
			<div class="row" id="product-images">
				{% if not item.ImageURLs %}
				<img
					src="{% static 'Website/images/notfound.png' %}"
					class="img-fluid"
				/>
				{%else%}
				<div class="container">
					{%for imageURL in item.ImageURLs%}
					<li class="item-a">
						<img src="{{imageURL}}" class="img-fluid" />
					</li>
					{%endfor%}
				</div>

				{% endif %}
			</div>
			<div class="row center" id="product-price">₹. {{item.Price}}</div>
			<div class="row center" id="product-specifications">
				{{item.Specifications}}
			</div>

			{% if item.Quantity > 0 and item.Availability != "Not Available" %}
			<div class="row center success" id="product-availability">
				{{item.Availability}}
			</div>

			<div class="row center" id="product-add">
				<button
					class="btn btn-primary"
					onclick="addToCart('{{item.ProductID}}')"
				>
					Add To Cart...
				</button>
			</div>
			{%else%}
			<div class="row center error" id="product-availability">
				Not Available
			</div>
			{%endif%} {%endif%}
		</section>

		<section id="slider" class="">
			<div class="row center" id="slider-heading">Also look at</div>
			<div class="row">
				<div class="container">
					<ul class="slider-elements" id="slider-elements" class="cs-hidden">
						{%for item in sliderItems%}
						<li class="item-a">
							<div class="box">
								<p class="category">{{item.Category}}</p>
								<img src="{{item.ImageURL}}" class="model" />
								<a href="{{item.ProductURL}}">
									<div class="details">
										<p>{{item.Name}}</p>
									</div>
								</a>
							</div>
						</li>
						{%endfor%}
					</ul>
				</div>
			</div>
		</section>
		{% include 'Website/templates.html'%} {% include 'Website/footer.html'%}
	</body>
	<!-- Custom JS -->
	<script
		type="text/javascript"
		src="{% static 'Website/js/product.js' %}"
	></script>
	<script>
		initialize();
	</script>
</html>
